
wh(w, h = auto)
  width w
  height h

rem(px)
  px / 75 * 1rem

font(size = 30px, color = #333, weight = 400)
  font-size rem(size)
  color color
  font-weight weight

position(type = relative, z-index = 1)
  position type
  z-index z-index

flex(justify-content = center, align-items = center)
  display flex
  justify-content justify-content
  align-items align-items
